@import 'shared';
.info-wrap {
    background-color: #ff5d5c;
    background-image: linear-gradient(90deg, rgba(200, 0, 0, .2) 30%, transparent 0), linear-gradient( rgba(200, 0, 0, .2) 30%, transparent 0);
    background-size: 10px 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.form-fieldset {
    width: 707 * $ratio750;
    height: 724 * $ratio750;
    margin: 68 * $ratio750 auto;
    background: url('../images/2/dikuang.png') center/contain no-repeat;
    box-sizing: border-box;
    padding-top: 80 * $ratio750;
    padding-left: 90 * $ratio750;
    padding-right: 90 * $ratio750;
    padding-bottom: 120 * $ratio750;
    color: #4d0f12;
    .form-group {
        border-bottom: 1px solid #4d0f12;
        line-height: 2.8;
        margin: 60 * $ratio750 0;
    }
    label {
        display: inline-block;
        width: 62 * $ratio750;
        position: relative;
        &:after {
            content: '';
            width: 1px;
            height: 30 * $ratio750;
            background: #4d0f12;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -15 * $ratio750;
        }
        i {
            display: inline-block;
            width: 32 * $ratio750;
            height: 32 * $ratio750;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            vertical-align: text-bottom;
        }
        &[for="phone"] {
            i {
                background-image: url('../images/2/shouji.png');
            }
        }
        &[for="licence"] {
            i {
                background-image: url('../images/2/chepaihao.png');
            }
        }
        &[for="verify"] {
            i {
                background-image: url('../images/2/yanzhengma.png');
            }
        }
    }
    .form-control {
        border: 0;
        background: transparent;
        padding: 20 * $ratio750;
        box-sizing: border-box;
        width: 35vw;
        &,
        &::-webkit-input-placeholder {
            color: #4d0f12;
            font-size: 26 * $ratio750;
        }
    }
    .btn {
        float: right;
        width: 140 * $ratio750;
        height: 60 * $ratio750;
        line-height: 58 * $ratio750;
        border: 1px solid #4d0f12;
        border-radius: 4 * $ratio750;
        background: #ffe656;
        box-sizing: border-box;
        padding: 0 8 * $ratio750;
        font-size: 24 * $ratio750;
        text-decoration: none;
        color: #4d0f12;
        position: relative;
        top: .4em;
    }
}

.submit-btn {
    width: 564 * $ratio750;
    height: 104 * $ratio750;
    margin: 68 * $ratio750 auto;
    background: url('../images/2/anniu.png') center/contain no-repeat;
    display: block;
}

.hint {
    width: 564 * $ratio750;
    height: 84 * $ratio750;
    margin: 68 * $ratio750 auto;
    background: url('../images/2/hint.png') left center/contain no-repeat;
}